#include "windows.h"
#include "resource.h"

//////////////////////////////////////////////////////
//
// Dialog
//

//MENUDLG DIALOG DISCARDABLE  0, 0, 121, 69
//STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
MENUDLG DIALOGEX 0, 0, 102, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
//STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
//STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
CAPTION "OpenHRIAudioManager"
FONT 14, "‚l‚r ‚oƒSƒVƒbƒN"
BEGIN
//    DEFPUSHBUTTON   "OK",ID_OK,7,38,50,14
//    PUSHBUTTON      "·¬Ý¾Ù",ID_CANCEL,61,37,50,14
    PUSHBUTTON      "PortAudioInput",       ID_PORTAUDIOINPUT, 1,  1,100,20
    PUSHBUTTON      "PortAudioOutput",      ID_PORTAUDIOOUTPUT,1, 22,100,20
    PUSHBUTTON      "EchoCanceler",         ID_ECHOCANCELER,   1, 43,100,20
    PUSHBUTTON      "EchoSuppressor",       ID_ECHOSUPPRESSOR, 1, 64,100,20
    PUSHBUTTON      "SamplingRateConverter",ID_SAMPLERATECNV,  1, 85,100,20
    PUSHBUTTON      "NoiseReduction",       ID_NOISEREDUCTION, 1,106,100,20
    PUSHBUTTON      "CombFilter",           ID_COMBFILTER,     1,127,100,20
    PUSHBUTTON      "SignalGeneration",     ID_SIGNALGENRATION,1,148,100,20
    PUSHBUTTON      "Mixer",                ID_MIXER,          1,169,100,20
    PUSHBUTTON      "DSArray",              ID_DSARRAY,        1,190,100,20
    PUSHBUTTON      "ChannelSelector",      ID_CHANNELSELECTOR,1,211,100,20
    PUSHBUTTON      "BeamForming",          ID_BEAMFORMING,    1,232,100,20
    PUSHBUTTON      "AutoGainControl",      ID_AUTOGAINCONTROL,1,253,100,20
    PUSHBUTTON      "WavRecord",            ID_WAVEREC,        1,274,100,20
END